body {
  font-family: 'helvetica';
  font-size: 12px;
}
.board { 
  position: relative;
  left: 50%;
  width: 800px;
  height: 480px;
  margin-left: -400px;
  margin-top: 80px;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.shape {
  position: absolute;
  right: 10px;
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 6px;

  text-align: center;
}

.shape.circle {
  top: 10px;
}

.shape.square {
  top: 80px;
}

.btn {
  position: absolute;
  right: 10px;
  display: inline-block;
  height: 30px;
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 6px;

  text-align: center;
}

.btn.save {
  top: 150px;
}

.btn.load {
  top: 190px;
}

.btn.alert {
  top: 230px;
}

.canvas {
  position: relative;
  width: 720px;
  height: 100%;
  background-color: #efefef;
  overflow: hidden;
}

.shape-widget {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: blue;
}

.shape-widget.circle {
  border-radius: 30px;
}

.active {
  background-color: #cce;
}

